{#
Outline:
  First Loop: play_hosts


TODO:
  Be able to handle multiple interfaces. (eth0, eth1, etc...)
  
#}

# {{ sap_sid|upper }}
{#

Loop through all the hosts that are referenced by the Playbook.
If we do not sort it, then the order can change randomly.

#}
{%  for host in play_hosts|sort %}
{#

host:
    x01app00l2e7
    x01app01l2e7
    x01dhdb00l02e7
    x01scs00l2e7
    x01web00l2e7

#}
{#

Loop through all the network intefaces that are defined on the host.
Skip over the 'lo' interface.
Sort the order so eth0 is first.

ansible_interfaces:
    lo                       <-- Omit
    eth3
    eth2
    eth1
    eth0

#}
{%    for interface in hostvars[host]['ansible_interfaces']|sort if interface != 'lo' %}
{#

interface:
    x01app00l2e7
        eth0
        eth1
    x01app01l2e7
        eth0
        eth1
    x01dhdb00l02e7
        eth0
        eth1
        eth2
        eth3
    x01scs00l2e7
        eth0
    x01web00l2e7
        eth0

#}
{#

if ipv4 not found, then that NIC is not configured

#}
{%      if 'ipv4' in hostvars[host]['ansible_' + interface] %}
{%        if interface == 'eth0' %}
{#
Primary NIC with Primary IP
#}
{{ '%-19s' | format(hostvars[host]['ansible_' + interface]['ipv4']['address']) }}{{ '%-50s' | format(host + '.' + sap_fqdn) }}{{ '%-21s' | format(host) }}
{%        else %}
{#
Secondary NIC with Primary IP
#}
{{ '%-19s' | format(hostvars[host]['ansible_' + interface]['ipv4']['address']) }}{{ '%-50s' | format(host + interface + '_0.' + sap_fqdn) }}{{ '%-21s' | format(host + interface + '_0') }}
{%        endif %}
{%      endif %}
{%      if 'ipv4_secondaries' in hostvars[host]['ansible_' + interface] %}
{%        for ipv4Secondary in hostvars[host]['ansible_' + interface]['ipv4_secondaries'] %}
# Unhandled condition; Found a secondary IP: {{ interface }}:{{ loop.index }} - {{ ipv4Secondary['address'] }}
{%        endfor %}
{%      endif %}
{%    endfor %}
{%  endfor %}
{#

Ensure the specified host has gathered facts about eth0.

#}
{#
{%    if 'ansible_eth0' in hostvars[host] %}
{{ '%-15s' | format(hostvars[host]['ansible_eth0']['ipv4']['address']) }}    {{ '%15s' | format(host) }}.{{ sap_fqdn }}     {{ '%15s' | format(host) }}
#}
{#

Check for Secondary IP Addresses.
Currently only structured to support 4 Secondaries.
Currently only first Secondary is defined.

#}
{#
{%      if 'ipv4_secondaries' in hostvars[host]['ansible_eth0'] %}
{%        for ipv4Secondary in hostvars[host]['ansible_eth0']['ipv4_secondaries'] %}
{%          if loop.index == 1 %}
{{ '%-15s' | format(ipv4Secondary['address']) }}    {{ '%15s' | format('sap-' + host) }}.{{ sap_fqdn }}     {{ '%15s' | format('sap-' + host) }}
{%          elif loop.index == 2 %}
{{ '%-15s' | format(ipv4Secondary['address']) }}    Third IP
{%          elif loop.index == 3 %}
{{ '%-15s' | format(ipv4Secondary['address']) }}    Fourth IP
{%          elif loop.index == 4 %}
{{ '%-15s' | format(ipv4Secondary['address']) }}    Fifth IP
{%          else %}
{{ '%-15s' | format(ipv4Secondary['address']) }}    Unknown {{ loop.index }}
{%          endif %}
{%        endfor %}
{%      endif %}
{%    endif %}
{%  endfor %}
#}
{#



{%  for host in play_hosts|sort %}
DEBUG: {{ host }}
#}
{#

Ensure the specified host has gathered facts about eth0.

#}
{#
{%    if 'ansible_eth0' in hostvars[host] %}
{{ '%-15s' | format(hostvars[host]['ansible_eth0']['ipv4']['address']) }}    {{ '%15s' | format(host) }}.{{ sap_fqdn }}     {{ '%15s' | format(host) }}
#}
{#

Check for Secondary IP Addresses.
Currently only structured to support 4 Secondaries.
Currently only first Secondary is defined.

#}
{#
{%      if 'ipv4_secondaries' in hostvars[host]['ansible_eth0'] %}
{%        for ipv4Secondary in hostvars[host]['ansible_eth0']['ipv4_secondaries'] %}
{%          if loop.index == 1 %}
{{ '%-15s' | format(ipv4Secondary['address']) }}    {{ '%15s' | format('sap-' + host) }}.{{ sap_fqdn }}     {{ '%15s' | format('sap-' + host) }}
{%          elif loop.index == 2 %}
{{ '%-15s' | format(ipv4Secondary['address']) }}    Third IP
{%          elif loop.index == 3 %}
{{ '%-15s' | format(ipv4Secondary['address']) }}    Fourth IP
{%          elif loop.index == 4 %}
{{ '%-15s' | format(ipv4Secondary['address']) }}    Fifth IP
{%          else %}
{{ '%-15s' | format(ipv4Secondary['address']) }}    Unknown {{ loop.index }}
{%          endif %}
{%        endfor %}
{%      endif %}
{%    endif %}
{%  endfor %}
#}